
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
strong, b {
  font-weight: 700;
}
body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fafafa;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #fafafa;
}

.root {
  display: flex!important;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.appBar {
  z-index: 10000!important;
}
.drawer {
  width: 250px!important;
  flex-shrink: 0!important;
}
.drawerPaper {
  width: 250px!important
}
.drawerContainer {
  overflow: auto!important
}
.headerText {
  font-weight: 600!important
}
.toolbar {
  -webkit-app-region: drag!important;
  -webkit-user-select: none!important;
  justify-content: center!important
}
.sidebarHeader {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 10px;
  margin-top: 12.5px;
  font-weight: 600;
}

